.inner-container.quiz{
    padding:10%;
    border-radius: 20px;
}
.grid button {
    margin-top: 2em;
    font-size: 30px;
    padding: 0em 1.2em 0em 1.2em;
}
.next {

    float: right;
}
.previous {
    float:left;
}

.question {
    text-align: center;
}